Se transforman los datos desde Stata a CSV

In [2]:
import pandas as pd

# Leer sin convertir categorías
df = pd.read_stata("BaseCasen2022.dta", convert_categoricals=False)

reader = pd.io.stata.StataReader("BaseCasen2022.dta")
value_labels = reader.value_labels()
reader.close()

# Guardar
df.to_csv("CASEN_2022.csv", index=False, encoding='utf-8-sig')
print(f"¡Conversión completa! {len(df)} filas guardadas")

C:\Users\Liz\AppData\Local\Temp\ipykernel_3120\1338345894.py:4: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  df = pd.read_stata("BaseCasen2022.dta", convert_categoricals=False)
C:\Users\Liz\AppData\Local\Temp\ipykernel_3120\1338345894.py:7: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  value_labels = reader.value_labels()
C:\Users\Liz\AppData\Local\Temp\ipykernel_3120\1338345894.py:8: FutureWarning: The StataReader.close() method is not part of the public API and will be removed in a future version without notice. Using StataReader as a context manager is the only supported method.
  reader.close()

¡Conversión completa! 202231 filas guardadas

Inspeccionar los datos del cansen para evaluarlos

In [3]:
df.head()

,id_vivienda,folio,id_persona,region,area,cod_upm,nse,estrato,hogar,expr,...,men18c,may60c,tipohogar,tot_hog,ind_hacina,indsan,ten_viv,ten_viv_f,allega_ext,allega_int
0,1000901,100090101,1,16,2,10009,4,1630324,1,43,...,0,1,3,1,1,1,1,1,0,0
1,1000901,100090101,2,16,2,10009,4,1630324,1,43,...,0,1,3,1,1,1,1,1,0,0
2,1000901,100090101,3,16,2,10009,4,1630324,1,44,...,0,1,3,1,1,1,1,1,0,0
3,1000902,100090201,1,16,2,10009,4,1630324,1,51,...,1,1,5,1,1,2,1,1,0,1
4,1000902,100090201,2,16,2,10009,4,1630324,1,51,...,1,1,5,1,1,2,1,1,0,1

Ya investigado la documentacion entregada por la web de la base de datos y el dataframe, tenemos el nombre de las variables.

In [7]:
# Variables correctas disponibles
variables_necesarias = ['folio', 'id_persona', 'pobreza', 'pobreza_multi_5d', 
                        'nse', 'region', 'edad', 'sexo', 'ytotcorh', 'expr']

df_pobreza = df[variables_necesarias].copy()

# Eliminar filas donde pobreza sea nula
df_pobreza = df_pobreza.dropna(subset=['pobreza'])

# Ver distribución de pobreza
print(" DISTRIBUCIÓN DE POBREZA POR INGRESOS ")
print(df_pobreza['pobreza'].value_counts().sort_index())

print("\n DISTRIBUCIÓN DE POBREZA MULTIDIMENSIONAL ")
print(df_pobreza['pobreza_multi_5d'].value_counts().sort_index())

print("\n DISTRIBUCIÓN DE NIVEL SOCIOECONÓMICO (NSE) ")
print(df_pobreza['nse'].value_counts().sort_index())

print(f"\nTotal personas con datos: {len(df_pobreza)}")

 DISTRIBUCIÓN DE POBREZA POR INGRESOS
pobreza
1.0      4657
2.0     10616
3.0    186838
Name: count, dtype: int64

 DISTRIBUCIÓN DE POBREZA MULTIDIMENSIONAL
pobreza_multi_5d
0.0    161671
1.0     37254
Name: count, dtype: int64

 DISTRIBUCIÓN DE NIVEL SOCIOECONÓMICO (NSE)
nse
1    40908
2    50198
3    19889
4    55990
5      261
6    19073
7    15792
Name: count, dtype: int64

Total personas con datos: 202111